<div class='row chart-widget summary'>
  <div class="col-xs-6 total-emissions">
    <h5 class='text-center'>Projected Yearly Energy Use</h5>
  </div>
  <div class="col-xs-6 summary-statistics">
    <h5>Projected Changes</h5>
  </div>
</div>