<div id="viz">
  <svg>
  </svg>
</div>
<div id="controls" />

<style>
  svg {
    height: 540px;
    width: 1000px;
    border: 1px solid gray;
  }

</style>

<script type="text/javascript">
  $(function() {
    createSankeyPlot();
  });
</script>