<%
  scenario = @p.find_scenario_by({id: area_chart.scenario_id})
  colour = @p.find_colour_by_id(scenario.colour_id)
%>
<div class="col-xs-4">
  <h5 class='text-center'>
    <i class='colour-swatch scenario'
        style='background-color: <%= colour.hex %>'></i>
    <%= scenario.name %>
  </h5>
  <%= render partial: 'shared/plotly_chart_embed', locals: { o: area_chart } %>
</div>