<%
  colour = @p.find_colour_by_id(factor_label.colour_id)
%>
<label>
  <i class='factor colour-swatch'
     style='background-color: <%= colour.lighter_hex %>;
            border-color: <%= colour.hex %>;'>
  </i>
  <%= factor_label.name %>
</label>