<ul id="nav" class='list-unstyled'>
<li><a href="#"><h4>Emissions</h4></a>
  <ul>
    <li><a href="#">Total</a></li>
    <li><a href="#">By Sector</a>
    <li><a href="#">By Fuel Type</a></li>
  </ul>
</li>

<li><a href="#"><h4>Urban Form</h4></a></li>
<li><a href="#"><h4>Demographics</h4></a></li>

<!-- etc. -->

</ul>