<ul id="nav" class='list-unstyled'>
<li><a href="#"><h4>Emissions</h4></a>
  <ul>
    <li><%= link_to 'Total', total_emissions_charts_path %></li>
    <li><%= link_to 'By Sector', by_sector_emissions_charts_path %></a>
    <li><%= link_to 'By Fuel Type', by_fuel_emissions_charts_path %></li>
    <li><%= link_to 'Maps', total_emissions_maps_path %></li>
  </ul>
</li>

<li><a href="#"><h4>Urban Form</h4></a></li>
<li><a href="#"><h4>Demographics</h4></a></li>

<!-- etc. -->

</ul>