<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Area Charts', by_sector_emissions_charts_path %></li>
  <li class="active"><%= link_to 'Bar Charts', by_sector_bar_emissions_charts_path %></li>
</ul>

<div>
    <a href="https://plot.ly/~le0nL/19/" target="_blank" title="Commercial,     ,     ,     , Industry,     ,     ,     , Residential,     ,     ,     , Transportation,     ,     ,     " style="display: block; text-align: center;"><img src="https://plot.ly/~le0nL/19.png" alt="Commercial,     ,     ,     , Industry,     ,     ,     , Residential,     ,     ,     , Transportation,     ,     ,     " style="max-width: 100%;width: 1014px; display: none"  width="1014" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="le0nL:19"  src="https://plot.ly/embed.js" async></script>
</div>
