<div class="col-xs-9">
    <a href="https://plot.ly/~le0nL/7/" target="_blank">
      <img src="https://plot.ly/~le0nL/7.png" />
    </a>
    <script data-plotly="le0nL:7"  src="https://plot.ly/embed.js" async></script>
</div>