<div class='row energy-flow sankey 1'>
  <div id='viz' class='col-xs-12'>
    <%= render partial: 'form' %>
    <svg id='a'></svg>
  </div>
</div>
<div class='row energy-flow sankey 2'>
  <div id='viz' class='col-xs-12'>
    <%= render partial: 'form' %>
    <svg id='b'></svg>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var
    $sankeyContext1 = $('div.sankey.1'),
    $sankeyContext2 = $('div.sankey.2');
    createSankeyPlot($sankeyContext1);
    createSankeyPlot($sankeyContext2);
    $sankeyContext1.find('form').submit();
    $sankeyContext2.find('form').submit();
  });
</script>