<%= render partial: 'shared/placeholder_image',
            locals: { filename: 'transportation_km_travelled.jpg' } %>
<div class='row'>
  <nav class="navbar navbar-default subnav">
    <h4 class="navbar-text">Kilometers Travelled by Transit Mode</h4>
  </nav>
</div>
<%= render partial: 'shared/placeholder_image',
            locals: { filename: 'transportation_modes.jpg' } %>