<label>
  <i class='factor colour-swatch'
     style='background-color: <%= factor_label.area_chart_fill_colour_hex %>;
            border-color: <%= factor_label.colour.hex %>;'>
  </i>
  <%= factor_label.name %>
</label>