<div class='table-wrapper <%= projected_changes_table.first %>'>
  <table class="table table-hover emissions-reductions">
    <thead>
      <td>Scenario</td>
      <td>Total CO2eq (Mt)</td>
      <td>Total p. Capita (t)</td>
      <td>% CO2eq</td>
      <td>% p. Capita</td>
    </thead>
    <%= render partial: 'row', collection: projected_changes_table.last %>
  </table>
</div>