<div class='row'>
  <div class="col-xs-6 total-emissions">
    <%= render partial: 'shared/plotly_chart_embed', locals: { o: @total_chart } %>
  </div>
  <div class="col-xs-6 summary-statistics">
  </div>
</div>
<div class='row'>

</div>