<div class='row'>
  <div class="col-xs-12 placeholder">
    <%= image_tag asset_path('marginal_abatement.png'), class: 'charts' %>
    <%= image_tag asset_path('draft.png'), class: 'draft' %>
  </div>
</div>